<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<div th:replace="fragments/menu :: menu('')"></div>
<div class="container main">
    <div th:switch="${status}">
        <h2 th:case="'403'" th:text="#{access.denied}">Доступ запрещен</h2>
        <h2 th:case="'404'" th:text="#{page.not.found}">Страница не найдена</h2>
        <h2 th:case="*" th:text="#{internal.server.error}">Внутренняя ошибка сервера</h2>
    </div>
</div>
</body>
</html>