<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="#{login.login}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card">
                <div class="card-block">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label for="usernameInput" th:text="#{login.username}"></label>
                            <input type="text" class="form-control" id="usernameInput" name="username"
                                   th:placeholder="#{login.username}"/>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput" th:text="#{login.password}"></label>
                            <input type="password" class="form-control" id="passwordInput" name="password"
                                   th:placeholder="#{login.password}"/>
                        </div>
                        <p th:if="${param.error}" class="alert alert-danger" th:text="#{login.error}"></p>
                        <button type="submit" class="btn btn-block btn-primary" th:text="#{login.login}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>